<footer class="page-footer cyan lighten-1">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5>About <%= locals.siteTitle %></h5>
        <p>This is a news search website where you can search for news with keywords, date range, available news sources, language etc. News will be present to you from different news sources and blogs all over the internet.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Credit</h5>
        <p>All the news data are being fetched with newsapi.org API</p>
      </div>
    </div>
  </div>
  <div class="footer-copyright grey darken-4">
    <div class="container center-align">&copy; 2020 News Search App</div>
  </div>
</footer>