<footer class="page-footer cyan lighten-1">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5>About <%= locals.siteTitle %></h5>
        <p>The purpose of this web application is to demonstrate how to fetch data and display them in website from an external API. The website provides you news data from serveral online news websites.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Credit</h5>
        <p>All the news data are being fetched with newsapi.org API</p>
      </div>
    </div>
  </div>
  <div class="footer-copyright grey darken-4">
    <div class="container center-align">&copy; 2020 <a target="_blank" href="https://atique.xyz">Md Atique Ahmed Ziad</a></div>
  </div>
</footer>