<header>
  <nav class="nav-wrapper cyan lighten-1 z-depth-3">
    <div class="container">
      <div class="brand-logo"><%= locals.siteTitle %></div>
      <a href="#" class="sidenav-trigger" data-target="mobile-menu">
        <i class="material-icons">menu</i>
      </a>
      <ul class="menu-wrapper right hide-on-med-and-down">
        <li><a href="/">Search for News</a></li>
        <li><a href="/api">API Key</a></li>
        <li><a target="_blank" href="https://github.com/atiqueahmedziad/news-search-web-app" class="tooltipped btn-floating btn indigo darken-4" data-position="bottom" data-tooltip="Github Repository">
          <i class="fab fa-github"></i>
        </a></li>
      </ul>
      <ul class="sidenav grey lighten-1" id="mobile-menu">
        <li><a href="/">Search for News</a></li>
        <li><a href="/api">API Key</a></li>
      </ul>
    </div>
  </nav>
</header>