<html lang="en">
  <head>
    <%- include('templates/head'); -%>
  </head>
  <body>
    <%- include('templates/header'); -%>
    <section class="container section z-depth-3" id="search">
      <div class="row">
        <div class="col s12">
          <!-- tabs -->
          <ul class="tabs">
            <li class="tab col s6">
              <a href="#allnews" class="active indigo-text text-darken-4"
                ><h6>All News</h6></a
              >
            </li>
            <li class="tab col s6">
              <a href="#topheadlines" class="indigo-text text-darken-4"
                ><h6>Top headlines</h6></a
              >
            </li>
          </ul>
          <div id="topheadlines" class="col s12">
            <div class="row">
              <div class="col s12 m10 l10 offset-l1 offset-m1">
                <form id="search-form-top" method="GET" action="/search/top">
                  <!-- search box -->
                  <div class="row">
                    <div class="input-field">
                      <i class="material-icons prefix">search</i>
                      <input
                        name="q"
                        type="text"
                        id="search_top"
                        placeholder="Search for Top News..."
                        requried
                      />
                    </div>
                  </div>
                  <!-- end of search box -->

                  <!-- search from sources selectbox -->
                  <div class="row">
                    <div class="col s12">
                      <div class="input-field">
                        <i class="material-icons prefix">web</i>
                        <select name="sources" id="sources_top" multiple>
                          <option value="" disabled>Default</option>
                          <option value="abc-news">ABC News</option>
                          <option value="abc-news-au">ABC News (AU)</option>
                          <option value="aftenposten">Aftenposten</option>
                          <option value="al-jazeera-english"
                            >Al Jazeera English</option
                          >
                          <option value="ansa">ANSA.it</option>
                          <option value="argaam">Argaam</option>
                          <option value="ars-technica">Ars Technica</option>
                          <option value="ary-news">Ary News</option>
                          <option value="associated-press"
                            >Associated Press</option
                          >
                          <option value="australian-financial-review"
                            >Australian Financial</option
                          >
                          <option value="axios">Axios</option>
                          <option value="bbc-news">BBC News</option>
                          <option value="bbc-sport">BBC Sport</option>
                          <option value="bild">Bild</option>
                          <option value="blasting-news-br"
                            >Blasting News (BR)</option
                          >
                          <option value="bleacher-report"
                            >Bleacher Report</option
                          >
                          <option value="bloomberg">Bloomberg</option>
                          <option value="breitbart-news">Breitbart News</option>
                          <option value="business-insider"
                            >Business Insider</option
                          >
                          <option value="business-insider-uk"
                            >Business Insider (UK)</option
                          >
                          <option value="buzzfeed">Buzzfeed</option>
                          <option value="cbc-news">CBC News</option>
                          <option value="cbs-news">CBS News</option>
                          <option value="cnbc">CNBC</option>
                          <option value="cnn">CNN</option>
                          <option value="cnn-es">CNN Spanish</option>
                          <option value="crypto-coins-news"
                            >Crypto Coins News</option
                          >
                          <option value="der-tagesspiegel"
                            >Der Tagesspiegel</option
                          >
                          <option value="die-zeit">Die Zeit</option>
                          <option value="el-mundo">El Mundo</option>
                          <option value="engadget">Engadget</option>
                          <option value="entertainment-weekly"
                            >Entertainment Weekly</option
                          >
                          <option value="espn">ESPN</option>
                          <option value="espn-cric-info">ESPN Cric Info</option>
                          <option value="financial-post">Financial Post</option>
                          <option value="focus">Focus</option>
                          <option value="football-italia"
                            >Football Italia</option
                          >
                          <option value="fortune">Fortune</option>
                          <option value="four-four-two">FourFourTwo</option>
                          <option value="fox-news">Fox News</option>
                          <option value="fox-sports">Fox Sports</option>
                        </select>
                        <label>Choose news sources (optional)</label>
                      </div>
                    </div>
                  </div>
                  <!-- end of search from sources selectbox -->

                  <div class="row">
                    <div class="col s12 m12 l4">
                      <div class="input-field">
                        <i class="material-icons prefix">gps_fixed</i>
                        <select name="country" id="country">
                          <option value="" selected>Default</option>
                          <option value="ar">ar</option>
                          <option value="de">de</option>
                          <option value="en">en</option>
                          <option value="es">es</option>
                          <option value="fr">fr</option>
                          <option value="it">it</option>
                          <option value="nl">nl</option>
                          <option value="no">no</option>
                          <option value="pt">pt</option>
                          <option value="se">se</option>
                          <option value="ru">ru</option>
                          <option value="ud">ud</option>
                          <option value="zh">zh</option>
                        </select>
                        <label>Select Country</label>
                      </div>
                    </div>
                    <div class="col s12 m12 l4">
                      <div class="input-field">
                        <i class="material-icons prefix">art_track</i>
                        <select name="category" id="category">
                          <option value="" selected>Default</option>
                          <option value="business">business</option>
                          <option value="entertainment">entertainment</option>
                          <option value="general">general</option>
                          <option value="health">health</option>
                          <option value="science">science</option>
                          <option value="sports">sports</option>
                          <option value="technology">technology</option>
                        </select>
                        <label>Category</label>
                      </div>
                    </div>

                    <div class="col s12 m12 l4">
                      <div class="input-field">
                        <i class="material-icons prefix">description</i>
                        <select name="pageSize" id="page_size_top">
                          <option value="" selected>Default</option>
                          <option value="20">20</option>
                          <option value="40">40</option>
                          <option value="60">60</option>
                          <option value="80">80</option>
                          <option value="100">100</option>
                        </select>
                        <label>Number of articles</label>
                      </div>
                    </div>
                  </div>
                  <div class="input-field submit-button center">
                    <button
                      type="submit"
                      class="btn-large light-blue lighten-1 z-depth-3"
                    >
                      Search for news
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div id="allnews" class="col s12">
            <div class="row">
              <div class="col s12 m10 l10 offset-l1 offset-m1">
                <form id="search-form-all" action="/search/all" method="GET">
                  <!-- search box -->
                  <div class="row">
                    <div class="input-field">
                      <i class="material-icons prefix">search</i>
                      <input
                        name="q"
                        type="text"
                        id="search"
                        placeholder="Search for News..."
                        requried
                      />
                    </div>
                  </div>
                  <!-- end of search box -->

                  <!-- search filter radiobox -->
                  <div class="row">
                    <div class="col s12 m6">
                      <p>
                        <label>
                          <input
                            name="search_radio"
                            value="q"
                            type="radio"
                            checked
                          />
                          <span>Search keyword in news title and body</span>
                        </label>
                      </p>
                    </div>
                    <div class="col s12 m6">
                      <p>
                        <label>
                          <input
                            name="search_radio"
                            value="qInTitle"
                            type="radio"
                          />
                          <span>Search keyword in news title only</span>
                        </label>
                      </p>
                    </div>
                  </div>
                  <!-- end of search filter radiobox -->

                  <!-- Date picker -->
                  <div class="row">
                    <div class="col s12 m6 l6">
                      <div class="input-field">
                        <i class="material-icons prefix">date_range</i>
                        <input
                          name="from"
                          type="text"
                          id="start_date"
                          class="datepicker"
                        />
                        <label class="truncate" for="start_date"
                          >Choose a start date for news (optional)</label
                        >
                      </div>
                    </div>
                    <div class="col s12 m6 l6">
                      <div class="input-field">
                        <i class="material-icons prefix">date_range</i>
                        <input
                          name="to"
                          type="text"
                          id="end_date"
                          class="datepicker"
                        />
                        <label class="truncate" for="end_date"
                          >Choose a end date for news (optional)</label
                        >
                      </div>
                    </div>
                  </div>
                  <!-- end of Date picker -->

                  <!-- search from sources selectbox -->
                  <div class="row">
                    <div class="col s12">
                      <div class="input-field">
                        <i class="material-icons prefix">web</i>
                        <select name="sources" id="sources" multiple>
                          <option value="" disabled>Default</option>
                          <option value="abc-news">ABC News</option>
                          <option value="aftenposten">Aftenposten</option>
                          <option value="al-jazeera-english"
                            >Al Jazeera English</option
                          >
                          <option value="australian-financial-review"
                            >Australian Financial</option
                          >
                        </select>
                        <label>Choose news sources (optional)</label>
                      </div>
                    </div>
                  </div>
                  <!-- end of search from sources selectbox -->

                  <div class="row">
                    <div class="col s12 m12 l4">
                      <div class="input-field">
                        <i class="material-icons prefix">language</i>
                        <select name="language" id="language">
                          <option value="" selected>Default</option>
                          <option value="ar">ar</option>
                          <option value="de">de</option>
                          <option value="en">en</option>
                          <option value="es">es</option>
                          <option value="fr">fr</option>
                          <option value="it">it</option>
                          <option value="nl">nl</option>
                          <option value="no">no</option>
                          <option value="pt">pt</option>
                          <option value="se">se</option>
                          <option value="ru">ru</option>
                          <option value="ud">ud</option>
                          <option value="zh">zh</option>
                        </select>
                        <label>Select Language</label>
                      </div>
                    </div>
                    <div class="col s12 m12 l4">
                      <div class="input-field">
                        <i class="material-icons prefix">sort</i>
                        <select name="sort_by" id="sort_by">
                          <option value="" selected>published at</option>
                          <option value="relevancy">relevancy</option>
                          <option value="popularity">popularity</option>
                        </select>
                        <label>Sort by</label>
                      </div>
                    </div>

                    <div class="col s12 m12 l4">
                      <div class="input-field">
                        <i class="material-icons prefix">description</i>
                        <select name="page_size" id="page_size">
                          <option value="" selected>Default</option>
                          <option value="20">20</option>
                          <option value="40">40</option>
                          <option value="60">60</option>
                          <option value="80">80</option>
                          <option value="100">100</option>
                        </select>
                        <label>Number of articles</label>
                      </div>
                    </div>
                  </div>
                  <div class="input-field submit-button center">
                    <button
                      id="submit"
                      type="submit"
                      class="btn-large light-blue lighten-1 z-depth-3"
                    >
                      Search for news
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <%- include('templates/footer'); -%>

    <script>
      $(document).ready(() => {
        $(".sidenav").sidenav();
        $(".tabs").tabs();
        $(".datepicker").datepicker({
          yearRange: 1,
        });
        $("select").formSelect();
        $(".tooltipped").tooltip();
      });
    </script>

    <script src="/js/index.js"></script>
    <script src="/js/materialize/materialize.min.js"></script>
    <script src="/reload/reload.js"></script>
  </body>
</html>
